html {
    height: 100%;
  
    & * {
      font-family: 'Poppins', sans-serif;
    }
  }
  
  a {
    text-decoration: none;
  }
  
  #lista {
    gap: 20px;
  }
  
  .logo {
    height: 70px;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #e8fccf;
  
    header {
      background-color: #96e072;
      box-shadow: blacks;
    }
  
    footer {
      background-color: #96e072;
      margin-top: auto;
    }
  
    .navbar-nav {
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* Estilos específicos para dispositivos móviles */
  @media (max-width: 850px) {
    /* Ajustar estilos para pantallas de hasta 600px de ancho */
    .navbar-brand {
      margin: 0 auto;
    }
  
    .navbar-toggler {
      margin-right: 15px;
    }
  
    .navbar-collapse {
      background-color: rgba(0, 128, 0, 0.52);
    }
  
    .nav-item {
      margin-bottom: 10px;
    }
  
    .card {
      margin: 10px;
    }
  
    .position-absolute {
      position: relative !important;
      transform: none !important;
      top: 0 !important;
      margin: 0 10px !important;
      text-align: center;
    }
  
    .text-center {
      text-align: center !important;
    }
  
    .btn-floating {
      margin: 5px !important;
    }
  
    .p-4 {
      padding: 15px !important;
    }
  
    .pb-0 {
      padding-bottom: 0 !important;
    }
  
    .m-1 {
      margin: 5px !important;
    }
  
    .mt-4 {
      margin-top: 15px !important;
    }
  
    .me-3,
    .ms-5 {
      margin: 0 !important;
    }
  }
  
  .servicios {
    margin: 4%;
    margin-top: 10%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5% 1%;
    grid-template-areas:
      "imagen1 texto1"
      "texto2 imagen2"
      "imagen3 texto3";
    
    .imagen1 { grid-area: imagen1; }
  
    .texto1 { grid-area: texto1; }
  
    .texto2 { grid-area: texto2; }
  
    .imagen2 { grid-area: imagen2; }
  
    .texto3 { grid-area: texto3; }
  
    .imagen3 { grid-area: imagen3; }
    
    .imagen1, .imagen2, .imagen3 {
      width: 100%;
      height: 100%;
    }
  
    .texto1, .texto2, .texto3 {
      font-size: larger;
      display: grid;
      margin: auto;
  
      &.texto2 {
        text-align: right;
      }
    }
  }
  
  @media (max-width: 1000px) {
    .parrafos {
      font-size: smaller;
    }
  
    .titulos {
      font-size: large;
      font-weight: bold;
    }
  
    #imagen1, #imagen2, #imagen3 {
      height: 90%;
    }
  }
  
  @media (max-width: 750px) {
    .parrafos {
      font-size: x-small;
    }
  
    .titulos {
      font-size: medium;
      font-weight: bold;
    }
  
    #imagen1, #imagen2, #imagen3 {
      height: 100%;
    }
  }
  
  @media (max-width: 500px) {
    .parrafos {
      font-size: xx-small;
    }
  
    .titulos {
      font-size: small;
      font-weight: bold;
    }
  
    #imagen1, #imagen2, #imagen3 {
      height: 80%;
    }
  }
  
  .card {
    mx-auto {
      max-width: 300px;
    }
  }
  
  #filtro1 {
    max-width: 20%;
    margin: 3%;
  }
  
  .imagensobrenos {
    width: 100%;
    height: 200%;
  }
  