*{
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
#lista {
    gap: 20px;
}
.logo{
  height: 70px;
} 
body{
    background-color: #03c04a;
}
/* Estilos específicos para dispositivos móviles */
  @media (max-width: 600px) {
    /* Ajustar estilos para pantallas de hasta 600px de ancho */
    .navbar-brand {
      margin: 0 auto;
    }

    .navbar-toggler {
      margin-right: 15px;
    }

    .navbar-collapse {
      background-color: rgba(0, 128, 0, 0.52);
    }

    .navbar-nav {
      flex-direction: column;
      align-items: center;
    }

    .nav-item {
      margin-bottom: 10px;
    }

    .card {
      margin: 10px;
    }

    .position-absolute {
      position: relative !important;
      transform: none !important;
      top: 0 !important;
      margin: 0 10px !important;
      text-align: center;
    }

    .text-center {
      text-align: center !important;
    }

    .btn-floating {
      margin: 5px !important;
    }

    .p-4 {
      padding: 15px !important;
    }

    .pb-0 {
      padding-bottom: 0 !important;
    }

    .m-1 {
      margin: 5px !important;
    }

    .mt-4 {
      margin-top: 15px !important;
    }

    .me-3,
    .ms-5 {
      margin: 0 !important;
    }
  }